$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
}

h1 {
  color: green;
}

.image {
  width: 100px;
  height: 100%;
}

.target-img {
  width: 100%;
}

.hidden {
  display: none;
}
